@use '@Styles/__variables' as *;


.button {
  color: $primary;
  font-weight: $font-weight-medium;
  background-color: $indigo-1;
  border-color: $indigo-1;
  line-height: 2rem;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  padding: 0 1.2rem;
  border: 0;
  height: 3.2rem;
  outline: none;


  &:hover, &:focus, &:active {
    background-color: $indigo-2;
  }
}
