

$font-family: system-ui, sans-serif, Arial, Helvetica;
$font-weight-bold: 700;
$font-weight-medium: 600;
$font-weight-normal: 400;
$line-height-headings:  2.6rem;


// Colors

$black:  #1c2024;
$white: #fff;
$primary: #002bb7c5;
$indigo-1: #0047f112;
$indigo-2: #0044ff2d;
$text-heading: #1c2024;
$gray: #404040;
$light-bg: #f2f2f2;
