

$font-family: system-ui, sans-serif, Arial, Helvetica;
$font-weight-bold: 700;
$line-height-headings:  2.6rem;


// Colors

$black:  #1c2024;
$white: #fff;
$primary: #002bb7c5;
$indigo-1: #0047f112;
$indigo-2: #0044ff2d;
$text-heading: #1c2024;
$gray: #0007149F;
$crimson-text:#ff92ad;
$crimson-bg: #fe2a8b2a;


// Shadow

$card-shadow: 0 0.4rem 0.8rem 0 #00000033;
