.events-container {
  display: flex;
  height: 100%;
  &__list-all {
    flex: 80%;
    height: 100%;
    overflow: auto;

  }

  &__list-selected {
    flex: 20%;
    height: 100%;
    overflow: auto;
  }
}
