@use '@Styles/__variables' as *;


.avatar {
  width: 4rem;
  height: 4rem;
  display: flex;
  border-radius: 50%;
  background-color: $indigo-1;
  border-color: $indigo-1;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  color: $primary;
  font-weight: $font-weight-bold;

}
